<!DOCTYPE html>
<html lang="pt-BR">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>dmisabela</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
	<div class="alert">DevOps Essentials</div>
	
	<div class="container">
		<div class="logo">
			<img src="/static/imgs/4linux.jpg" alt="4Linux">
		</div>
	</div>

	<div class="container">
		<div class="devops-paths">
			
            <p class="keep-studying">Aplicação feita durante o curso de Devops Essentials 4Linux</p>
        		
			<div class="devops-path path">
				<h1>Link do curso</h1>
				<a href="https://4linux.com.br/cursos/treinamento/devops-essentials/" class="devops-course course">
					<h2>DEVOPS ESSENTIALS</h2>
                </a>
                
                <h1>Github</h1>
				<a href="https://github.com/dmisabela/DevOpsLab-HelloWorld" class="ops-course course">
					<h2>REPOSITÓRIO NO GITHUB</h2>
                </a>
                
                <div class="certificado">
			    <img src="/static/imgs/certificado.png" alt="certificado">
		        </div>

			</div>
			
			
		</div>
	</div>

</body>

</html>
